#button{
    left: 39vw;
    top: -1.4vh;
}
.ant-card-body{
    position: relative;
}
.ant-card-body .p1{
    position: absolute;
    left: -8vw;
    top: 2vh;
    font-size: 18px;
}
.ant-card-body .p2{
    position: absolute;
    left: 13vw;
    top: 2vh;
    font-size: 18px;
}