.foodCard p{
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 7vh;
}
.ant-card-body{
    height:57.5vh;
}
#foodInfo{
    margin-bottom:3vh;
}
#card{
    position: absolute;
    top: 58vh;
    left: 9vw;
}
#card button {
    /* left:-2vw; */
    margin-right: 2vw;
    width: 16vw;
}