.ant-form-item-label{
    top:5vh;
}
.ant-form-item-control-wrapper{
    left:6.5vh;
    width:53vw;
}
.item{
    margin-top:-2vh;
}
.items{
    margin-top:-5vh;
}
.buttonF{
    left:8vh;
}
.ant-upload{
    background-image: image();
}
.ant-btns{
    left:7vw;
}