<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js" type="text/javascript" charset="UTF-8"></script>
    <script src="./china-city-area-zip.js"></script>
    <title>各省市</title>
    <style>
        #provinces,
        #city,
        #tow {
            width: 70px;
        }
    </style>
</head>

<body>

    <!-- 方法一 -->
    <div id="divContent">
        <select id="provinces" v-model="selectedPro">
            <option value="">--省级--</option>
            <option v-for="province in provinces" >{{ province.name }}</option>
        </select>
        <select id="city" v-model="selectedCity">
            <option value="">--市级--</option>
            <option v-for="city in citys" >{{ city.name }}</option>
        </select>
        <select id="tow" v-model="selectedTow">
            <option value="">--区级--</option>
            <option v-for="tow in tows" >{{ tow.name }}</option>
        </select>


    <!-- 方法二 -->
        <select id="provinces" v-model="selectedProName">
            <option value="">--省级--</option>
            <option v-for="province of provinces" :value="province">{{ province.name }}</option>
        </select>
        <select id="city" v-model="selectedCityName">
            <option value="">--市级--</option>
            <option v-for="city of selectedProName && selectedProName.child" :value="city">{{ city.name }}</option>
        </select>
        <select id="tow" v-model="selectedTowName">
            <option value="">--区级--</option>
            <option v-for="tow of selectedCityName && selectedCityName.child" :value="tow">{{ tow.name }}</option>
        </select>
    </div>

    <script>
        var app = new Vue({
            el: '#divContent',
            data: {
                selectedPro: '',
                selectedCity: '',
                selectedTow: '',

                selectedProName: null,
                selectedCityName: null,
                selectedTowName: null,
                provinces: cityArea
            },
            computed: {
                citys: function () {
                    for (let province of this.provinces) {
                        if (province.name == this.selectedPro) {
                            return province.child;
                        }
                    }
                },
                tows: function () {
                    for (let province of this.provinces) {
                        if (province.name == this.selectedPro) {
                            for (let city of province.child) {
                                if (city.name == this.selectedCity) {
                                    return city.child;
                                }
                            }
                        }
                    }
                }
            }
        })

    </script>
</body>

</html>